@model Bar.API.ViewModels.IndexViewModel
<div class="text-center myFace table-responsive row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Vrijeme</td>
                <td>Stavke</td>
                <td>Iznos</td>
                <td>User</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrderList)
            {
                decimal cijenaStavke = 0;
                <tr>
                    <td>@order.Id</td>
                    <td>@order.DateTime.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>
                        @foreach (var x in order.Items)
                        {
                            cijenaStavke += (x.Price * x.Count);
                            <span>@x.Naziv x@(x.Count)</span>
                            @if (order.Items.IndexOf(x) != order.Items.Count - 1)
                            {
                                <span>,</span>
                            }
                        }
                    </td>
                    <td>@(cijenaStavke.ToString("F")) KM</td>
                    <td>@order.ApplicationUser</td>
                </tr>
            }
        </tbody>
    </table>
</div>
